extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Rotas cadastradas
  hr

  h3 /movies
  nav
    li - /
    li - /create
    li - /update
    li - /delete/:id
  hr

  h3 /assinantes
  hav
    li - /
    li - /create
    li - /update
    li - /delete/:id